<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="../static/js/jquery-2.1.1.min.js"></script>
    <title></title>
</head>
<body>



<script type="text/javascript">
    $(document).ready(function(){
        //var json = $.toJSON({ colors : ['White', 'Yellow', 'Green', 'Blue', 'Red', 'Black'] })
        var myJsonString = JSON.stringify({ content : [{'description' : 'red_1'}, {'description' : 'black_1'}] });
        $.ajax({
            type: "POST",
            url: "http://localhost:8200/tournament_manager_api/tournament_manager_api/api/belt.json",
            contentType: "application/json",
            data: myJsonString
        });
    });
</script>
</body>
</html>